body {
    background-image: url('/DL/full.png');
    background-size: cover;
}
h1{
    position: relative;
    left: 620px;
    top: -320px; 
}
#ima{
    height: 160px;width:160px
}
#ima1{
    height: 160px;width:160px;
    position: relative;
    left: 440px;
    top: -420px; 
}
.lab{
    position: relative;
    left: 400px;
    top: -340px; 
    font-size: 20px;
    text-align: center

}
#submit { 
    background-color: white;  color: black;  border: 2px solid #090808;
    position: relative;
    left: 460px;
    top: -340px; 
    font-size: 25px;

}
.lab{
    position: relative;
    left: 340px;
    top: -180px; 
  }
.custom-logo{
    position: relative;
    left: 80px;
    top: 60px; 
  }
.active{
    text-decoration: none
}
#menu {
    position: relative;
    left: 20px;
    top: 30px; 
    font-size:18px;
    list-style-type: none;
    line-height: 50px;
}
.wrap{
    position: relative;
    left: 400px;
    top: -280px; 
}
#menu li img{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:18px;
}
#menu li a{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:14px;
    text-decoration: none
}
.icon-mini{
    position:relative;
    left: 1100px;
    top: -255px; 
}
table td{
    table-layout: fixed;
    width:150px;
    
}

#submit1 { 
    background-color:aliceblue ;  border: 2px solid #bebbbb;
    position: relative;
    left: 1000px;
    top: -50px; 
    font-size: 25px;

}


