body {
    background-image: url('/DL/full.png');
    background-size: cover;
}
#form{
    border: 6px double #b1154a;
    margin: auto;  
    width: 80%;
    padding: 10px;
    position: relative;
    left: -40px;
    top: 0px; 
}
.tt{
    border: 6px double #b1154a;
    margin: auto;  
    width: 80%;
    padding: 10px;
    position: relative;
    left: 500px;
    top: -304px; 
}
.lk{
    position: relative;
    left: 540px;
    top: -260px; 
}

.mk{
    position: relative;
    left: 0px;
    top: 0px; 
}
#submit{
    background: transparent;
    border: 1px solid #b62d2d;
    color: rgb(14, 4, 4);
    width: 100%;
    padding: 6px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
}

h1{
    position: relative;
    left: 550px;
    top: -200px; 
    font-family:'Courier New', Courier, monospace
}
.custom-logo{
    position: relative;
    left: 80px;
    top: 30px; 
  }
#menu {
    position: relative;
    left: 25px;
    top: 30px;     
    list-style-type: none;
    font-size:18px;
}
#menu li img{
    position: relative;
    left: -40px;
    top: 40px; 
    font-size:18px;
}
#menu li a{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:14px;
}
.icon-mini{
    position:relative;
    left: 1100px;
    top: -220px; 
}
.content #ima{
    position:relative;
    left:400px;
    top: -200px ;
    text-decoration: none;
}
.ncontent #ima{
    position:relative;
    left:530px;
    top: -150px ;
    text-decoration: none;
}
.text{
        color: rgb(4, 3, 3);
        position: absolute;
        top: -200px
}
.wrap{
    position:relative;
    left:330px;
    top: -150px ;
    font-size: large;
}
#submit1{
    background: transparent;
    border: 1px solid #b62d2d;
    color: rgb(14, 4, 4);
    width: 90%;
    padding: 4px 10px;
    transition: 0.25s ease-in-out;
    margin-top: 30px;
    position:relative;
    left:540px;
    top: -226px ;
}