body {
    background-image: url('/DL/full.png');
    background-size: cover;
}

button { 
    background-color: white;  color: black;  border: 2px solid #161313;}

.custom-logo{
    position: relative;
    left: 80px;
    top: 30px; 
  }
#menu {
    position: relative;
    left: 25px;
    top: 30px; 
    font-size:18px;
    list-style-type: none;
}
#menu li img{
    position: relative;
    left: -40px;
    top: 40px; 
    font-size:18px;
}
#menu li a{
    position: relative;
    left: -30px;
    top: 40px; 
    font-size:14px;
}
.icon-mini{
    position:relative;
    left: 1100px;
    top: -220px; 
}


.grid-img {
    column-count: 4; /* Số cột */
    column-gap: 210px; /* Khoảng cách giữa các cột */
}

.grid-img img {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 15px;
    break-inside: avoid;
    position:relative;
    left: 340px;
    top: -210px; 
}
.box{
    position:relative;
    left: 350px;
    top: -250px; 
}
.home-filter-label{
    position:relative;
    left: 370px;
    top: -250px; 
}
.container ul.tab{
    margin:0;
    padding: 0;
    list-style-type: none;
    display:flex;
    position:relative;
    left: 350px;
    top: -230px; 
}
.container ul.tab li{
    background:rgb(93, 208, 208);
    padding:14px;
    color:aliceblue;
    border-radius: 3px;
    cursor:pointer;
    margin-right:10px;
    width:150px;
    text-align:center
}
#new, #best-seller{
    display:none
}
ul.tab li.active{
    background:lightskyblue
}
/* #new, #best-seller, #trend{
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    -webkit-animation: slide-down .2s ease-in;
    -moz-animation: slide-down .2s ease-in
}
@-webkit-keyframes slide-down{
    0% {opacity: 0;}
    20% {opacity: 1}
} */


